*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: none;
}
body{
    width: 100vw;
    height: 100vh;
    position: relative;
}

body::before{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 0.2;
    background-image: url('../assets/clubfoot.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.homeTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin: auto;
}

.menu{
    position: relative;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    background: rgb(227, 226, 226);
    transform: translateX(-100%);
}
.deroulant{
    position: absolute;
    right: -10px;
}



